<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_lab.css">
    <title>Document</title>
</head>
<body>
    <div class="bg_img">
        <div class="top">
            <a href="/main">
                <img class="icon_back" src="public/img/back.png">
            </a>
            <a href="/login">
                <img class="icon_menu" src="public/img/menu.png">
            </a>
        </div>
        <div class="choice">
            <p class="title_text">
                Профессионально важные качества
            </p>
            <div class="boxes">
                <a href="/desc_frontend">
                    <div class="box">
                        <div class="icon">
                            <img class="icon_1" src="">
                        </div>
                        <p class="text_box">
                            <u class="box_title">
                                <b>Frontend - разработчик</b>
                            </u>
                            <p class="box_text">
                            Frontend-разработчик — это специалист, который создает пользовательские интерфейсы.
                            </p>
                        </p>
                    </div>
                </a>
                <a href="/desc_datascience">
                    <div class="box">
                        <div class="icon">
                            <img class="icon_2" src="">
                        </div>
                        <p class="text_box">
                            <u class="box_title">
                                <b>Data Scientist</b>
                            </u>
                        <p class="box_text">
                            Data Scientist — это специалист по работе с данными для решения задач бизнеса.
                        </p>
                        </p>
                    </div>
                </a>
                <a href="/desc_sysadmin">
                    <div class="box">
                        <div class="icon">
                            <img class="icon_3" src="">
                        </div>
                        <p class="text_box">
                            <u class="box_title">
                                <b>System Administrator</b>
                            </u>
                        <p class="box_text">
                            System Administrator — обеспечение штатной работы парка компьютерной техники
                        </p>
                        </p>
                    </div>
                </a>
                <a href="/stat">
                    <div class="box">
                        <div class="icon">
                            <img class="icon_1" src="">
                        </div>
                        <p class="text_box">
                            <u class="box_title">
                                <b>Статистика</b>
                            </u>
                            <p class="box_text">
                                Вы можете просмотреть результаты опроса среди Экспертов.
                            </p>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
