<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_main.css">
    <title>Document</title>
</head>
<body>
    <div class="bg_img">
        <div class="top">
            <a href="/login">
                <img class="icon_top" src="public/img/menu.png">
            </a>
        </div>
        <div class="choice">
            <p class="title_text">
                Лабораторные работы
            </p>
            <div class="boxes">
                <a href="/lab1">
                    <div class="box">
                        <div class="icon">
                            <img class="icon_1" src="public/img/icon_1.png">
                        </div>
                        <p class="text_box">
                            <u class="box_title">
                                <b>ПВК</b>
                            </u>
                            <p class="box_text">
                                Система определения ПВК в зависимости от вида деятельности программиста.
                            </p>
                        </p>
                    </div>
                </a>
                <a href="/tests">
                    <div class="box">
                        <div class="icon">
                            <img class="icon_2" src="public/img/icon_2.png">
                        </div>
                        <p class="text_box">
                            <u class="box_title">
                                <b>Качества и свойства человека</b>
                            </u>
                            <p class="box_text">
                                Методический аппарат для оценки качеств и свойств человека.
                            </p>
                        </p>
                    </div>
                </a>
                <a href="/reg">
                    <div class="box">
                        <div class="icon">
                            <img class="icon_3" src="public/img/icon_3.png">
                        </div>
                        <p class="text_box">
                            <u class="box_title">
                                <b>Связь</b>
                            </u>
                            <p class="box_text">
                                Связь методического аппарата с определением уровня развития ПВК (soft skills).
                            </p>
                        </p>
                    </div>
                </a>
                <a href="/anketa">
                    <div class="box">
                        <div class="icon">
                            <img class="icon_1" src="public/img/icon_1.png">
                        </div>
                        <p class="text_box">
                            <u class="box_title">
                                <b>Анкета</b>
                            </u>
                        <p class="box_text">

                        </p>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
