<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_lab.css">
    <title>Document</title>
</head>
<body>
    <div class="bg_img">
        <div class="top">
            <a href="/tests">
                <img class="icon_back" src="/public/img/back.png">
            </a>
            <a href="/login">
                <img class="icon_menu" src="/public/img/menu.png">
            </a>
        </div>
        <div class="choice">
            <p class="title_text">Простая и сложная реакция на движущийся
                объект</p>
            <div class="boxes">
                <a href="/easy_moving_test">
                    <div class="box_1">
                        <div class="icon">
                            <img class="icon_1" src="">
                        </div>
                        <p class="text_box">
                            <u class="box_title">
                                <b>Реакция на движущийся объект</b>
                            </u>
                        </p>
                        <div class="icon_x">
                            <img class="icon_star" src="/public/img/star.png">
                        </div>
                    </div>
                </a>
                <a href="/hard_moving_test">
                    <div class="box_1">
                        <div class="icon">
                            <img class="icon_1" src="">
                        </div>
                        <p class="text_box">
                            <u class="box_title">
                                <b>Реакция на движущийся объект</b>
                            </u>
                        </p>
                        <div class="icon_x">
                            <img class="icon_star" src="/public/img/star.png">
                            <img class="icon_star" src="/public/img/star.png">
                            <img class="icon_star" src="/public/img/star.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>