<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_lab.css">
    <title>Document</title>
</head>
<body>
<div class="bg_img">
    <div class="top">
        <a href="/main">
            <img class="icon_back" src="/public/img/back.png">
        </a>
        <a href="/login">
            <img class="icon_menu" src="/public/img/menu.png">
        </a>
    </div>
    <div class="choice">
        <p class="title_text">Методический аппарат для оценки качеств и свойств человека</p>
        <div class="boxes">
            <a href="/tests_lab2">
                <div class="box_1">
                    <div class="icon">
                        <img class="icon_1" src="">
                    </div>
                    <p class="text_box">
                        <u class="box_title">
                            <b>Сенсомоторные реакции</b>
                        </u>
                        <p class="box_text_1">
                            Проверьте свою реакцию на слу&shyховые и зрительные сигналы
                        </p>
                    </p>
                </div>
            </a>
            <a href="/tests_lab3">
                <div class="box_1">
                    <div class="icon">
                        <img class="icon_2" src="">
                    </div>
                    <p class="text_box">
                        <u class="box_title">
                            <b>Движущийся объект</b>
                        </u>
                        <p class="box_text_1">Проверьте свою реакцию на дви&shyжущийся объект</p>
                    </p>
                </div>
            </a>
            <a href="/tests_lab4">
                <div class="box_1">
                    <div class="icon">
                        <img class="icon_3" src="">
                    </div>
                    <p class="text_box">
                        <u class="box_title">
                            <b>Аналоговое слежение</b>
                        </u>
                    <p class="box_text_1">Проверьте свою реакцию на аналоговое слежение</p>
                    </p>
                </div>
            </a>
            <a href="/tests_lab5">
                <div class="box_1">
                    <div class="icon">
                        <img class="icon_1" src="">
                    </div>
                    <p class="text_box">
                        <u class="box_title">
                            <b>Внимание, память и мышление</b>
                        </u>
                    <p class="box_text_1">Проверьте свое внимание, память и мышление</p>
                    </p>
                </div>
            </a>
            <a href="/all_tests">
                <div class="box_1">
                    <div class="icon">
                        <img class="icon_1" src="">
                    </div>
                    <p class="text_box">
                        <u class="box_title">
                            <b>Пройти все тесты</b>
                        </u>
                    <p class="box_text_1">Пройдите все тесты и узнайте ваши ПВК</p>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>