.textcols-item {
	width: 100%;
  border-spacing: 7px 11px ;
  position: absolute;
  top: 10px;
  font-size: 17px;

}

a:hover{
    color: #d0c5f3;
}

a{
    color: white;
    text-shadow: #644bb9 2px 5px;
    text-decoration: none;
}

tr{
    height:10px;
}

td{
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 4px #a1903b solid;

}

.textcols-item th {
	padding: 20px;
	background: lightblue;
  color: black;
}

.textcols-item td {
	padding: 20px;
  background: green;
  color: purple;
}

.know{
	position: absolute;
	top: 10%;
	font-size: 40px;

  background: transparent;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 600px;
  height: 70px;
  border: 2px solid rgba(255,255,255,0.5);
}

.pic{
	position: absolute;
  left: 96%;
	top: 2%;
	height: 50px;
	width: 50px;
}

.size-opinion{
	position: absolute;
  left: 33%;
  bottom: 80px;
  font-size: 50px;
  color: blue;
	background-color: black;
}

.name{
	position: absolute;
  left: 70%;
  bottom: 80px;
  font-size: 46px;
}

.opinion{
  text-align: center;
  left: 33%;
	top: 10px;
	font-size: 100px;
	color: black;
}

.background {
	 background-size: cover;
}