#app {
    position: relative;

}
.content{
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;

}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    padding: 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-y: auto;
}
* {
    margin: 0;
    padding: 0;
}
:root {
    --index: calc(1vw + 1vh);
}
@font-face {
    font-family: railway_f;
    src: url(../fonts/raleway-regular.ttf);
}
@font-face {
    font-family: railway_f;
    src: url(../fonts/raleway-black.ttf);
    font-weight: 900;
}
body {
    background-color: #010101;
    color: #fff;
    font-family: railway_f, sans-serif;
    line-height: 1.55;
}
.main_header {
    position: relative;
}
.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    z-index: 1;
}
.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    will-change: transform;

}
.layers_base{
}

.layers_base{
    transform: translate3d(0, calc(var(--scrollTop)/1.6), 0);
}

.layers_front{
    transform: translate3d(0, calc(var(--scrollTop)/2.5), 0);
    z-index: 3;
}
.layers_header{
    margin-top: -600px;
    z-index: 2;
    transform: translate3d(0, calc(var(--scrollTop)/2), 0);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
}
.layers_title{
    font-size: calc(var(--index) * 2.5);
    letter-spacing: calc(var(--index) / 10 );
}
.layers_captoin{
    font-size: calc(var(--index) / 1.1);
    letter-spacing: calc(var(--index) / 10 );
}
.main-article{
    z-index: 4;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    will-change: transform;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-article_header{
    text-transform: uppercase;
    /* font-size: calc(var(--index)* 1.8); */
    font-size: 100px;
    letter-spacing: calc(var(--index) / 7.5);
    color: red;
}


.textcols {
    text-transform: uppercase;
    font-size: calc(var(--index)* 1.8);
    letter-spacing: calc(var(--index) / 7.5);
    z-index: 5;
    white-space: nowrap;
    font-size: 0;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .textcols-item {
    white-space: normal;
    display: inline-block;
    width: 70%;
    vertical-align: top;
    margin-right: 5%;
    font-size: 14px;
}*/
.textcols .textcols-item:last-child {
    margin-right: 0 ;
}

.window-professions{
    position: absolute;
    top: 15%;
    left: 27%;
    width: 625px;
    height: 370px;
    background: #b79be8;
    border-radius: 11px;

}
.statistic{
    height: 67px;
}
.statistic_color{
    font-size: 20px;
    font-weight: bold;
    color: #8856e1;
}
.popup{
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    opacity: 0;
    visibility: hidden;
    transition: all 0.72s ease 0s;
}
.popup_body{
    color: #ccb438;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup_close{
    right: 10px;
    top: 10px;
    position: absolute;
    text-decoration: none;
    color: #3f3e3e;
}
.popup:target .popup_content{
    transform: translate(0px,0px);
    opacity: 1;
}
.popup_content{
    background-color: #ffffff;
    color: black;
    padding: 30px;
    transition: all 0.72s ease 0s;
    position: relative;
    transform: translate(0px, -100%);
    opacity: 0;
}


.popup_title{
    color: #c7b141;
    font-size: 25px;
    margin-right: 1em;
}
.popup_text{
    max-width: 1000px;
    font-size: 16px;
}
.popup_characteristics_text{
    font-size: 16px;
    max-width: 1320px;
}
.popup:target{
    opacity: 1;
    visibility: visible;
}
.login_body{
    position: absolute;
    width: 20%;
    top: 10%;
    height: 32%;
    left:2%;
    border-radius: 7px;
    border: 3mm ridge rgba(197, 206, 33, 0.6);
}
.login_header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #a1903b;
    border-bottom: 4px #a1903b solid;
    height: 23%;
    text-align: center;
    font-weight: bold;
}
.login_a{
    color: #a1903b;
    text-shadow: none;
}
input{
    margin-left: 2em;
    margin-top: 1.8em;
    margin-bottom: 0.5em;
    padding-left: 1em;
    width: 75%;
}
.button{
    margin-left: 7em;
    width: 30%;
}
.login_podval{
    color: #a1903b;
    margin-left: 3em;
    margin-top: 0.7em;
}
.regist_content{
background-color: #2b1c5e;
    height: 500px;
    width: 350px;
    border-radius: 5px;
    position: relative;
}
.register_input{
    width: 60%;
    margin-left: 4.5em;
    height: 1.75em;
    margin-bottom: 1.45em;
}
.register_button{
    height: 1.7em;
    width: 10em;
    margin-left: 8em;
}
.moder_body{
    position: absolute;
    width: 20%;
    border: 3mm ridge rgba(189, 149, 23, 0.6);
    height: 17%;
    top: 50%;
    left: 2%;
    border-radius: 5px;
}
.moder_header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 30%;
    border-bottom: 2mm ridge rgba(189, 149, 23, 0.6);
    color: rgba(189, 149, 23, 0.6);
}
.moder_header_content{
    font-weight: bold;
    font-size: 17.5px;
}
.moder_content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 44%;
    left:10%;
}
.moder_list{
    border: none;
    position: absolute;
    width: 100%;
    height: 66%;
    left: -10%;
    top: -10%;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(189, 149, 23, 0.6);
    font-size: 16px;
}
option{
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list_body{
    position: absolute;
    width: 21%;
    height: 60%;
    top: 10%;
    right: 5%;
    border: 2.7mm ridge rgba(189, 149, 23, 0.6);
    border-radius: 6px;
}
.list_header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height:17%;
    border-bottom: 2.7mm ridge rgba(189, 149, 23, 0.6);
    color: rgba(189, 149, 23, 0.6);
    font-size: 18px;
    font-weight: bold;
}
.list_content{
    position: absolute;
    height: 60%;
    width: 100%;
    top:19%;
}
.list_characteristics{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #d9d6d6;
}
.list_bottom{
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link_characteristics{
    text-shadow: none;
}
