<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style_test_1.css">
    <title>Document</title>
</head>
<body>
<div id="bg" class="bg_img">
    <div class="top">
        <a href="/tests_lab2">
            <img class="icon_back" src="/public/img/back.png">
        </a>
        <a href="/login">
            <img class="icon_menu" src="/public/img/menu.png">
        </a>
    </div>
    <div class="tester">
        <div id='Instruction' class="instruction text_instruction">Этот тест считывает скорость реакции на звуковой сигнал. Ваша цель - нажать на круг как только прозвучит звуковой сигнал.</div>
        <div id='Iteration' class="iteration"></div>
        <button id='Start_button' class="start_button" name="start" onclick="start_test()">Начать</button>
        <div id='Circle' class="circle" onclick="onAnswer()"></div>
        <div id='Result' class="result"></div>
        <div id='Final Result' class="result"></div>
        <a href="/easy_aud_test" class="restart_button" id='Retry'>Заново</a>
    </div>
</div>
<script src="/public/libs/CookieManager.js"></script>
<script src="/public/libs/tests/easy_aud_test.js"></script>
</body>
</html>